#css-img {
    border: 4px red solid;
}

[alt="javascript roadmap"] {
    border: 4px green solid;
}

p b{
    display: none;
    /* visibility: hidden; */
    
    /* opacity: 0;
    pointer-events: none; */
}